<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<h1 th:text="${siteName}"></h1>

<form method="POST" action="doWrite" th:object="${form}"> <!--th:object 안에있는 것을 *{}으로 사용가능-->
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>

    <div>
        <label for="title">제목</label><br> <!--id와 for가 일치해야함 또는 label로 감싸기 가능-->
        <input type="text" placeholder="제목" autofocus th:field="*{title}">
        <!--th:field는 id, name, value 자동으로 만들어줌-->
    </div>
    <div>
        <label for="content">내용</label><br> <!--id와 for가 일치해야함 또는 label로 감싸기 가능-->
        <textarea placeholder="내용" th:field="*{content}"></textarea>
    </div>
    <input type="submit" value="작성">
</form>

</html>